html, body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	padding: 100px 30px 100px 30px;
	margin: auto;
	max-width: 660px;
}

.main a, .main ul, .main li, p, h1 {
	font-size: 18px;
}

.main h1 {
	font-weight: bold;
	font-size: 42px;
	display: inline-block;
	margin: 0;
}

.main img.icon {
	display: inline-block;
	margin-right: 13px;
}

.main h2 {
	font-weight: bold;
	font-size: 22px;
	margin-top: 40px;
}

.main img.demo {
	width: 100%;
	margin: 20px 0 15px 0;
	border-radius: 8px;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.patreon {
	margin-top: 30px;
}

.main p.description {
	padding-bottom: 10px;
	font-size: 20px;
}

.patreon-widget {
	height: 45px;
}