html, body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
}

.main {
	padding: 120px 30px 140px 30px;
	margin: auto;
	max-width: 660px;
}

.main a, .main ul, .main li, p, h1 {
	font-size: 19px;
}

.main h1 {
	font-weight: bold;
	font-size: 44px;
	display: inline-block;
	margin: 0;
	font-family: Montserrat;
}

.main img.icon {
	display: inline-block;
	margin-right: 13px;
}

.main h2 {
	font-weight: bold;
	font-size: 22px;
	margin-top: 40px;
	font-family: Montserrat;
}

.main h2::before {
	content: '⇢';
	color: rgb(230, 140, 0);
	font-size: 18px;
	margin-right: 10px;
}

.main img.demo {
	width: 100%;
	margin: 15px 0 10px 0;
	border-radius: 8px;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.patreon {
	margin-top: 30px;
}

.main p.description {
	padding-bottom: 10px;
	font-size: 20px;
}

.patreon-widget {
	height: 45px;
}